  <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><strong>ROUTE 66</strong></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a ng-click="home()">HOME</a></li>
          <li>
            <a class="waves-effect waves-light modal-trigger" ng-click="signUp()" href="#modal3">LOGIN</a>
          </li>
          <li><a ng-click ="loc()" id="carLoc">LOCATIONS</a></li>
          <li><a ng-click="abtUs()">About US</a></li>
        </ul>
      </div>
  </div>
  </nav>
  <div class="slider fullscreen" ng-init="doSomething()">

    <ul class="slides">
      <li>
        <img src="images/img4.jpg">
        <!-- random image -->
        <div class="caption right-align">
          <h3>If service counts, count on us!</h3>
        </div>
      </li>
      <li>
        <img src="images/img8.jpg">
        <!-- random image -->
        <div class="caption left-align">
          <h3>If service counts, count on us!</h3>
        </div>
      </li>
      <li>

        <img class="Materialize.fadeInImage" src='images/img6.jpeg'>
        <!-- random image -->
        <div class="caption left-align">
          <h3>If service counts, count on us!</h3>
        </div>
      </li>
      <li>
        <img src="images/img1.jpg">
        <!-- random image -->
        <div class="caption right-align">
          <h3>If service counts, count on us!</h3>
        </div>
      </li>
    </ul>
  </div>