
<nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><strong>ROUTE 66</strong></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a ng-click="home()">HOME</a></li>
          <li>
            <a class="waves-effect waves-light modal-trigger" ng-click="signUp()" href="#modal3">LOGIN</a>
          </li>
          <li><a ng-click ="loc()" id="carLoc" >LOCATIONS</a></li>
          <li><a ng-click="abtUs()">About US</a></li>
        </ul>
      </div>
  </div>
  </nav>
<img src="images/thankyou3.jpg" id="abt"></img>
